.PeopleAttending-question {
  line-height: 1.5;
}

.PeopleAttending-list {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--spacing-1) / 2);
}

.PeopleAttending-list table {
  width: fit-content;
}

.PeopleAttending-select {
  margin-bottom: var(--spacing-3);
}

.PeopleAttending-cta {
  margin: 0 0 var(--spacing-1) 0;
}


