:root {
  --primary-color: #2196f3;
  --text-primary-color: black;
  --bg-main-color: #282c34;
  --bg-paper-color: #f7faff;
}

.App-container {
  padding: 24px 24px;
}

.App-header {
  color: var(--bg-paper-color);
  font-weight: bolder;
  font-size: 1.5em;
}

.App-main {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

@media screen and (max-width: 1225px) {
  .App-main {
    flex-direction: column;
  }
}

.text-primary {
  color: var(--primary-color);
}

.text-small {
  font-size: 0.8em;
}