:root {
  --primary-color: #2196f3;
  --text-primary-color: black;
  --bg-main-color: #282c34;
  --bg-paper-color: #f7faff;
}

.App-container {
  padding: 24px 24px;
  background-color: var(--bg-main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  line-height: calc(10px + 1.5vmin);
}

.App-header {
  color: var(--bg-paper-color);
  font-weight: bolder;
  font-size: 1.5em;
}

.App-main {
  padding-top: 16px;
  display: flex;
  column-gap: 10px;
}

.text-primary {
  color: var(--primary-color);
}

.text-small {
  font-size: 0.8em;
}