
.App-container {
  padding: 24px 24px;
  background-color: var(--bg-main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header {
  font-weight: bolder;
  font-size: 1.5em;
}

.App-main {
  padding-top: 16px;
  display: flex;
  column-gap: 10px;
}

.text-primary {
  color: var(--primary-color);
}
